# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# IDE/editor specific
.idea/
*.iml
.vscode/

# Wechaty cache
.wechaty/

# Temporary files
*.tmp
*.log

